.about-me-card, .img-size {
  border-radius: 20px;
}

.img-size {
  width: 50%;
}

.about-me-card {
  border-radius: 20px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: 5px 5px 10px var(--shadow-color);
}