.about-me-card, .img-size {
  border-radius: 10px;
}

.img-size {
  width: 250px;
}

.about-me-card {
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: 5px 5px 10px var(--shadow-color);
  align-items: center;
}