

.contact-card {
    background: var(--primary-color);
    border-radius: 10px;
    box-shadow: 5px 5px 10px var(--shadow-color);

}

.button {
    width: 175px;
    background-color: var(--tertiary-color) !important;
    color: var(--secondary-color) !important;
}
