:root {
    /* --primary-color: rgb(34, 106, 199); */
    --primary-color: rgb(59, 119, 197, .8);
    --secondary-color: rgb(246, 245, 245);
    --secondary-color-opacity: rgba(15, 1, 1, 0.5);
    --tertiary-color: rgb(56, 56, 56);
    --background-color: rgb(41, 41, 41);
    --shadow-color: rgba(0, 5, 17, 0.5);
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}
  
html {
  scroll-behavior: smooth;
}

nav, .card-title, .project-title, .contact-header, .copyright {
  font-family: 'Saira', sans-serif;
}

body {
  background-color: var(--background-color);
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 160px;    /* Footer height */
}

#contact {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 160px;            /* Footer height */
}


@media only screen and (max-width: 768px) {

  /* about me */
  .profile-img {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  /* projects
  .project-mobile {
   display: flex;
   flex-wrap: wrap;
  } */


  
}