.project-header {
  border-bottom: 2px solid var(--secondary-color);
}

.project-card {
  height: auto;
  width: auto;
  border-radius: 10px;
  background: linear-gradient(
    to bottom,
    var(--primary-color) 65px,
    var(--tertiary-color) 0px
  );
  color: var(--secondary-color);
  box-shadow: 5px 5px 10px var(--shadow-color);
  
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.project:hover {
  top: -5px;
}

.project-title {
  text-align: left;
  float: left;
  
}

.card-links {
  text-align: right;
  float: right;
}

.card-desc {
  display: flex;

}

.icon {
  font-size: 50px;
}


@media only screen and (min-width: 768px) {
  
  /* projects */
  /* .project-mobile {
   display: flex;
   flex-wrap: wrap;
  } */

  .project-image {
    /* width: 50%; */
  }

  
}