.project-header {
  border-bottom: 2px solid var(--secondary-color);
}

/* Project List */

.project-card {
  height: auto;
  width: 100%;
  border-radius: 10px;
  background: linear-gradient(
    to bottom,
    var(--primary-color) 65px,
    var(--tertiary-color) 0px
  );
  color: var(--secondary-color);
  box-shadow: 5px 5px 10px var(--shadow-color);
  justify-content: center;
  
}

.project-bio {
  display: flex;
  flex-direction: column-reverse;
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  
  /* box-shadow: 5px 5px 10px var(--shadow-color); */
}

.color-wrapper {
  border-radius: 10px;
  padding: 10px;
  /* background-color: rgb(59, 119, 197, .6); */
  margin-top: 10px;
}

.project-title {
  text-align: left;
  float: left;
  
}

.card-links {
  text-align: right;
  float: right;
}

.card-link-item {
  color: var(--secondary-color);
}
.card-link-item:hover,
.card-link-item:focus  {
  opacity: 1;
}

.card-desc {
  display: flex;

}

#icon-styles {
  font-size: 50px;
  padding: 0px 0px 0px 0px
}


@media only screen and (min-width: 768px) {
  
  /* projects */
  .project-bio {
    flex-direction: row;
    
  }

  .project-card {
    width: 70%;
    margin: 0 auto;
    
  }

  .card-link-item {
    opacity: .7;
  }

  .color-wrapper-margin {
    margin-right: 25px;
  }


  
}